
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4">
    <h2>Login</h2>

    <form action="/login" method="post">
    
      <div class="input-group mb-1">
        <span class="input-group-text"><i class="fa fa-envelope fa-fw"></i></span>
        <input type="text" name="email" value="{{ user.email }}" class="form-control {{#if errors.email }}is-invalid{{/if}}" placeholder="name@exaple.org">
        {{#if errors.email}}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
      </div>
    
      <div class="input-group mb-1">
        <span class="input-group-text"><i class="fa fa-lock fa-fw"></i></span>
        <input type="password" name="password" class="form-control {{#if errors.password }}is-invalid{{/if}}" placeholder="User password">
        {{#if errors.password}}<div class="invalid-feedback">{{ errors.password }}</div>{{/if}}
      </div>
    
      <div class="d-grid">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    <hr>
    <div class="d-grid">
      <a class="btn btn-secondary" href="/register">Register</a>
    </div>
  </div>
</div>