<!-- TODO: render a beautiful task detail -->
<div class="my-tasks">
  <h1>My tasks</h1>

  <p>{{task.title}}</p>

  <div class="detail-buttons">
    <form action="/tasks/{{task.id}}/delete" method="post">
      <button class="btn btn-primary" type="submit">Delete Task</button>
    </form>

    <a class="btn btn-primary" href="/tasks">Go to list</a>
  </div>
</div>