<!-- TODO: render a form to create a new task with a title field -->
<!-- remember form action and method attributes ;) -->

<form class="form" action="/tasks" method="post">
    <input name="title" placeholder="task title"/>
    <button class="btn btn-primary" type="submit">Create Task</button>
</form>